$maxsize: 800px;
$mainColor: #999;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    background-color: #444;
    width: $maxsize;
    margin: 10px auto;
}

p {
    color: $mainColor;
    margin: 10px 0;
    line-height: 1.5em;
}
header {
    position: relative;
}

h1 {
    position: absolute;
    top: 85%;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    width: $maxsize;
    padding: 5px 0;
}

h1, h2 {
    color: white;
}

.mantisMain {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

img {
    width: $maxsize;
}

article {
    padding: 18px;
}

table {
    color: $mainColor + #222;
    width: $maxsize - 100px;
    margin: 0 auto 30px;
    border-collapse: collapse;
    border: solid 1px $mainColor - #111;
    th {
        background-color: $mainColor -#111;
        height: 30px;
    }
    td {
        text-align: center;
        border: solid 1px $mainColor - #111;
        height: 30px;
    }
    caption {
        border: solid 1px $mainColor - #111;
        height: 30px;
        text-transform: uppercase;
        padding-top: 5px;
    }
}

footer {
    padding: 10px;
    margin: 15px 50px 10px;
    text-align: center;
    border-top: solid 2px $mainColor - #111;
    font-size: 10px;
}